.label {
  font-size: 12px;
  color: #21213b;
  line-height: 32px;
}

.submit {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  color: white;
  background-color: #26a69a;
  border-radius: 4px;
  height: 24px;
  width: 48px;
  cursor: pointer;
}

.secondaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  font-size: 12px;
  color: #26a69a;
  background-color: white;
  border: 1px solid #b2dfdb;
  border-radius: 4px;
  height: 24px;
  width: auto;
  cursor: pointer;
}
